body {
    background: #ab1121;
    color: white;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5 {
    color: white;
}
ul {
    margin: 0;
}

header {
    background-color: black
    color(srgb rgb(0, 120, 120) green blue);
}
nav li a{
    background-color: black
}